body {
  font-family: 'Roboto', serif;
  background-color: #ffffff;
  color: #33334d;
  margin: 0;
  padding: 0;
}

section {
  margin: 20px;
  padding: 20px;
}

nav {
  text-align: center;
}

header {
  background-color: #3601e7;
  width: 80%;
  padding: 10px;
}

nav ul{
  background-color: #620ab8;
  list-style: none;
  
  
}

nav ul li a {
  display: block; 
  color: white;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  width: 70px;
}

footer {
  background-color: #3601e7;
}

