body {
  font-family: 'Roboto', serif;
  background-color: #3333ff;
  color: #33334d;
  margin: 0;
  padding: 0;
}

section {
  margin: 20px;
  padding: 20px;
}

nav {
  text-align: center;
}


header {
  width: 80%;
}


