body {
  font-family: 'Roboto', serif;
  background-color: #ffffff;
  color: #33334d;
  margin: 0;
  padding: 0;
}

section {
  margin: 20px;
  padding: 20px;
}

nav {
  text-align: center;
}

header {
    background-color: #e0d6ff;
    width: 100%;
    padding: 40px;
}

nav ul{
    background-color: #00da71;
    list-style: none;
    padding: 23px;  
}

nav ul li a {
    float: left;
    margin: 0 15px;
    display: center; 
    color: rgb(255, 255, 255);
    background-color: rgb(255, 143, 0);
    font-weight: bolder;
    text-decoration: blink;
    text-align: center;
    width: 100px;
    padding: 10px 0px 8px 0px;
    border-radius: 4px;   
}

footer {
  background-color: #3601e7;
}
